@using Sushi.Helpers.Enums
@using Sushi.Helpers.Extensions
@using Sushi.Helpers.LinkHelper
@using Sushi.Helpers.NavigationHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
            @(Html.Sushi().Menu().SetPosition(MenuPosition.FixedTop)
            .AddNavigation(new Navigation("MainMenu").AddLink(new Link().SetCaption("About").SetAction("/home/index")))
            .AddNavigationDropDown(new NavigationDropDown("btnMenu").SetCaption("Menu")
                                    .AddHeader("Navigation")
                                    .AddLink(new Link().SetCaption("Creating Items"))
                                    .AddLink(new Link().SetCaption("Adding Links"))
                                    .AddLink(new Link().SetCaption("Adding Icons"))
                                    .AddSeparator()
                                    .AddHeader("Navigation DropDown")
                                    .AddLink(new Link().SetCaption("Creating Items"))
                                    .AddLink(new Link().SetCaption("Adding Icons"))
                                    .AddLink(new Link().SetCaption("Adding Headers"))
                                    .AddLink(new Link().SetCaption("Adding Separators"))
                                    .AddLink(new Link().SetCaption("Adding Links"))
                                    .AddSeparator()
                                    .AddHeader("Forms")
                                    .AddLink(new Link().SetCaption("Creating Items"))
                                    .AddLink(new Link().SetCaption("Search Box"))
                                    )
             .AddNavigationDropDown(new NavigationDropDown("formsMenu").SetCaption("Forms")
                                    .AddHeader("Blocks")
                                    .AddLink(new Link().SetCaption("Using Forms"))
                                    .AddLink(new Link().SetCaption("Form Layout"))
                                    .AddSeparator()
                                    .AddHeader("Elements")
                                    .AddLink(new Link().SetCaption("Fields"))
                                    .AddLink(new Link().SetCaption("Submits"))
                                    .AddSeparator()
                                    .AddHeader("Scaffolding")
                                    .AddLink(new Link().SetCaption("T4 Scaffolding"))
                                    )
            .AddNavigationDropDown(new NavigationDropDown("Grid").SetCaption("Grid")
                                    .AddHeader("General")  
                                    .AddLink(new Link().SetCaption("Zero Config").SetAction(@Url.Content("~/Grid/ZeroConfig")))
                                    .AddLink(new Link().SetCaption("Search"))
                                    .AddLink(new Link().SetCaption("Pagination"))
                                    .AddLink(new Link().SetCaption("Sorting"))
                                    .AddSeparator()
                                    .AddHeader("Server Side")
                                    .AddLink(new Link().SetCaption("ClientSide"))
                                    .AddLink(new Link().SetCaption("Conecting WebAPI"))
                                    .AddLink(new Link().SetCaption("Conecting Controller"))
            
            )
            .AddNavigationDropDown(new NavigationDropDown("Buttons").SetCaption("Buttons")
                                   .AddHeader("General")
                                   .AddLink(new Link().SetCaption("Buttons"))
                                   .AddLink(new Link().SetCaption("Button Groups"))
                                   .AddLink(new Link().SetCaption("Button DropDowns"))
            )
                                    
          )
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/datatables")
        @Scripts.Render("~/bundles/sushi")
        @RenderSection("scripts", required: false)
    </body>
</html>